@font-face {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
}
@font-face {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
}
@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a,
a:visited,
a:focus {
  text-decoration: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
  font-family: "Poppins-Medium", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 12px;
}

.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 124px;
  }
}
.title {
  margin: 0;
  font-family: "Poppins-Bold";
  font-weight: 700;
}

.btn {
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
}
.logo__link img {
  margin-right: 8px;
}
.logo__text {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
@media (min-width: 768px) {
  .logo__text {
    margin-right: 15px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.menu_responsive {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.menu_responsive .menu__link {
  display: block;
  margin-bottom: 10px;
}
.menu_responsive .menu__btn {
  position: absolute;
  top: 0;
  right: 0;
}
.menu__link {
  display: none;
  font-family: "Poppins-SemiBold", "Arial", "sans-serif";
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
  color: #fff;
}
.menu__link_active, .menu__link:hover {
  position: relative;
  font-family: "Poppins-Bold", "Arial", "sans-serif";
  font-weight: 700;
  opacity: 1;
}
.menu__link_active::after, .menu__link:hover::after {
  content: "";
  height: 2px;
  width: 66%;
  background: #fff;
  display: block;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .menu__link {
    display: inline;
  }
}
.menu__btn {
  width: 25px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__btn::after {
  content: "";
  width: 22px;
  height: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px #fff, 0 12px #fff;
          box-shadow: 0 6px #fff, 0 12px #fff;
}
@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu {
    width: 55%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu:last-of-type {
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .menu {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
.specialBtn {
  display: none;
}
.specialBtn__contact:hover {
  background-color: rgba(90, 122, 204, 0.8117647059);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 768px) {
  .specialBtn {
    width: 115px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .specialBtn__contact {
    border: 1px solid #fff;
    padding: 5px 18px;
    white-space: nowrap;
  }
}
.home-block {
  background: radial-gradient(50% 50% at 50% 50%, #5975FF 0%, #3029D9 100%);
}
.home-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
}
.home-block__wrapper {
  min-height: 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 16px;
}
.home-block__title {
  display: block;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 8px;
}
.home-block__text {
  font-size: 12px;
  line-height: 24px;
  width: 91%;
  margin-bottom: 8px;
}
@media (min-width: 670px) {
  .home-block__title {
    margin-bottom: 20px;
    font-size: 52px;
    line-height: 58px;
  }
  .home-block__text {
    font-size: 14px;
    line-height: 26px;
    width: 70%;
    margin-bottom: 20px;
  }
}
.home-block__btn {
  background: #111849;
  padding: 9px 26px;
}
.home-block__btn:hover {
  background-color: rgb(106, 0, 255);
}
.home-block__image {
  display: none;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 100%;
}
@media (min-width: 768px) {
  .home-block__inner {
    background: url("/img/home-img.png") 100% calc(100% + 24px)/contain no-repeat;
  }
  .home-block__wrapper {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .home-block__title {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 30px;
  }
  .home-block__text {
    margin-bottom: 30px;
  }
  .home-block__btn {
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .home-block__inner {
    min-height: 500px;
  }
  .home-block__title {
    font-size: 54px;
    line-height: 58px;
  }
  .home-block__text {
    font-size: 14px;
  }
  .home-block__btn {
    padding: 8px 51px;
  }
}
@media (min-width: 1200px) {
  .home-block__inner {
    min-height: 600px;
    background-position-x: 70%;
  }
  .home-block__title {
    font-size: 94px;
    line-height: 98px;
  }
  .home-block__wrapper {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}