@import 'var';
@import 'fonts';

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a,
a:visited,
a:focus {
    text-decoration: none;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Poppins-Medium', 'Arial', 'sans-serif';
    font-weight: 500;
    font-size: 12px;
}

.container {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 60px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 90px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 124px;
    }
}

.title {
    margin: 0;
    font-family: 'Poppins-Bold';
    font-weight: 700;
}

.btn {
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

// Header

.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;

    }
}

.logo {

    &__link {
        display: flex;
        align-items: center;
        margin: 5% 0;

        & img {
            margin-right: 8px;
        }
    }

    &__text {
        color: #fff;
        text-decoration: none;
        font-size: 22px;
    }

    @media (min-width: 768px) {
        &__text {
            margin-right: 15px;
        }
    }
}


.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &_responsive {
        flex-direction: column;
        position: relative;

        & .menu__link {
            display: block;
            margin-bottom: 10px;
        }

        & .menu__btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__link {
        display: none;
        font-family: 'Poppins-SemiBold', 'Arial', 'sans-serif';
        font-weight: 600;
        font-size: 14px;
        opacity: 0.8;
        color: #fff;

        &_active,
        &:hover {
            position: relative;
            font-family: 'Poppins-Bold', 'Arial', 'sans-serif';
            font-weight: 700;
            opacity: 1;

            &::after {
                content: "";
                height: 2px;
                width: 66%;
                background: #fff;
                display: block;
                transition: width 0.3s ease-in-out;
                margin: 0 auto;
            }
        }
    }

    @media (min-width: 768px) {
        &__link {
            display: inline;
        }
    }

    &__btn {
        width: 25px;
        height: 15px;
        display: flex;

        &::after {
            content: '';
            width: 22px;
            height: 3px;
            background-color: #fff;
            box-shadow: 0 6px #fff, 0 12px #fff;
        }
    }

    @media (min-width: 768px) {
        &__btn {
            display: none;
        }
    }


}

@media (min-width: 768px) {
    .menu {
        width: 55%;
        justify-content: space-between;

        &:last-of-type {
            margin-right: 15px;
        }
    }
}

@media (min-width: 1200px) {
    .menu {
        flex-basis: 45%;
    }
}


.specialBtn {
    display: none;

    &__contact:hover {
        background-color: #5a7acccf;
        transform: scale(1.2);
    }
}

@media (min-width: 768px) {
    .specialBtn {
        width: 115px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__contact {
            border: 1px solid #fff;
            padding: 5px 18px;
            white-space: nowrap;
        }
    }
}

// Home Block

.home-block {
    background: radial-gradient(50% 50% at 50% 50%, #5975FF 0%, #3029D9 100%);

    &__inner {
        display: flex;
        min-height: 400px;
    }

    &__wrapper {
        min-height: 312px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        padding: 0 16px;
    }

    &__title {
        display: block;
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 8px;

    }

    &__text {
        font-size: 12px;
        line-height: 24px;
        width: 91%;
        margin-bottom: 8px;
    }

    @media (min-width: 670px) {
        &__title {
            margin-bottom: 20px;
            font-size: 52px;
            line-height: 58px;
        }

        &__text {
            font-size: 14px;
            line-height: 26px;
            width: 70%;
            margin-bottom: 20px;
        }
    }

    &__btn {
        background: $darkerAccent;
        padding: 9px 26px;

        &:hover {
            background-color: rgb(106, 0, 255);
        }
    }

    &__image {
        display: none;
        flex-basis: 60%;
        height: 100%;
    }

    @media (min-width: 768px) {
        &__inner {
            background: url('/img/home-img.png') 100% calc(100% + 24px) / contain no-repeat;

        }

        &__wrapper {
            flex-basis: 50%;
            align-items: flex-start;
            text-align: left;
        }

        &__title {
            font-size: 44px;
            line-height: 48px;
            margin-bottom: 30px;
        }

        &__text {
            margin-bottom: 30px;
        }

        &__btn {
            margin-bottom: 15px;
        }
    }

    @media (min-width: 992px) {
        &__inner {
            min-height: 500px;
        }

        &__title {
            font-size: 54px;
            line-height: 58px;
        }

        &__text {
            font-size: 14px;
        }

        &__btn {
            padding: 8px 51px;
        }
    }

    @media (min-width: 1200px) {
        &__inner {
            min-height: 600px;
            background-position-x: 70%;
        }

        &__title {
            font-size: 94px;
            line-height: 98px;
        }

        &__wrapper {
            flex-basis: 35%;
        }
    }
}